<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Organisation Login</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>

<!--Login'et bliver IKKE verificeret, det er bare to kolonner du indtaster værdier.
Værdier gemmes ikke, men de er "required", dvs. du kan ikke forsætte før du har skrevet noget-->
<div class="login-container">
    <h2>Organisations Login</h2>
    <form action="/OrgLogin" method="post">
        <label for="username">Brugernavn</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Adgangskode</label>
        <input type="password" id="password" name="password" required>

        <!-- Glemt adgangskode link -->
        <div class="links">
            <a href="/forgot-password">Glemt adgangskode?</a>
        </div>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
